* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg {
  background: url("../img/lm-cr-n.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  
}

.blur-bg{
  background-color: rgb(0, 0, 0);
  background-color: rgba(12, 5, 41, 0.5)
}
.navbar {
  height: 300px;
}

.navbar-brand{
  display: block;
  height: 150px;
  width: 150px;
}

.landing-layer-top {
  
  text-align: center;
}


.btn-s:hover{
  box-shadow: 0 0 10px 0 #E0A800 inset, 0 0 10px 4px #E0A800;
 

}

.btn-c {
  transition: transform .5s;
  text-transform: uppercase;
  margin: 10px;
}

.btn-c:hover {
  box-shadow: 0 0 10px 0 #E0A800 inset, 0 0 10px 4px #E0A800;
  transform: scale(1.2);
}

.text-ucl  {
  
  margin: 2% 10% 2% 10% ;
}
.text-ucl div {
  transition: transform .2s;
  color: rgb(247, 247, 252);
  font-size: 70px;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  

.text-ucl div:hover {
  transform: scale(1.2);
}

.col-4 {
  margin-top: 25px;
}
.card {
  height: 100%;
  width: 100%;
}



footer {
  color: aliceblue;
  height: 50px;
  text-align: center;
  margin-top: 20px;
}

