* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg {
  background: url("../img/lm-cr-n.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  
}

.blur-bg{
  background-color: rgb(0, 0, 0);
  background-color: rgba(12, 5, 41, 0.5)
}
.navbar {
  height: 300px;
}

.navbar-brand{
  height: 150px;
  width: 150px;
}

.landing-layer-top {
  
  text-align: center;
}


.form-inline button:hover{
  box-shadow: 0 0 10px 0 #E0A800 inset, 0 0 10px 4px #E0A800;
}

.btn-c {
  transition: transform .2s;
  text-transform: uppercase;
  margin: 10px;
  animation: btnFrames ease 1s;
  animation-iteration-count: 1;

}


.form-inline .btn-c:hover {
  transform: scale(1.2);
}


@keyframes btnFrames{
  0% {
    opacity:0;
    transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}


.text-ucl  {
  animation: text-uclFrames ease 2s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards;
  margin: 2% 10% 2% 10% ;
}
@keyframes text-uclFrames{
  0% {
    opacity:0;
    transform:  translate(-1500px,0px)  ;
  }
  60% {
    opacity:1;
    transform:  translate(30px,0px)  ;
  }
  80% {
    transform:  translate(-10px,0px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}
.text-ucl div {
  transition: transform .2s;
  color: rgb(247, 247, 252);
  font-size: 70px;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  


.text-ucl div:hover {
  transform: scale(1.2);
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #E0A800;
}



.swiper-slide {
  margin-top: 20px;
  background-position: center;
  max-width: 250px;
  max-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-bg {
 border-bottom: 1px solid #E0A800;
}

.check-card{
  animation: check-cardFrames ease 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; 
}

@keyframes check-cardFrames{
  0% {
    opacity:0;
    transform:  translate(-1500px,0px)  ;
  }
  60% {
    opacity:1;
    transform:  translate(30px,0px)  ;
  }
  80% {
    transform:  translate(-10px,0px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

.team-card {
  margin-bottom: 35px;
}

.row-top {
  margin-top: 55px;
  margin-bottom: 55px;
}

.doTeam {
  text-align: center;
  font-size: 15px;
}
footer {
  color: #fff;
  text-align: center;
  margin-top: 20px;
}
.row{
  
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  
}
.col-4{
  background-color: teal;
  flex: 0 0 200px;
margin-top: 5px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  
}


<<<<<<< HEAD


/*flip-card teams page*/

=======
>>>>>>> 9033de0794be3b9cf1ee715cbd74e5416245b190

